<div class="col-md-6 mx-auto my-5">
  <div class="card">
    <div class="card-header">
      TITULO
      </div>
    <div class="card-body">
      {{ simpleRate }}
    </div>
    <div class="card-footer">
      PIE DE PAGINA
    </div>
  </div>
</div>